.App {
  border: 1px solid rgb(214, 226, 236);
  height: 100px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(214, 226, 236);
  text-align: center;
}

.Innerapp{
  border: 1px solid rgb(36,37,42);
  height: 60px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(36,37,42);
  display: flex;
  justify-content: space-around;
}

.button{
  background-color: rgb(1,134,168);
  color: aliceblue;
  font-weight: bold;
  border: 0px;
  height: 25px;
  width: 80px;
  border-radius: 10px;
  margin-top: 18px;
}

.links{
  color: aliceblue;
  font-family: sans-serif;
  margin: auto;
  margin-left: 13px;
  margin-right: 13px;
}

.logo{
  color: aliceblue;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 18px;
}

.innerdiv{
  display: flex;
}
